@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss" source(none);

@source "./";

@theme {
  --font-quicksand: "Quicksand", sans-serif;
  --animate-wavey: wavey 1000ms linear infinite;
  --animation-delay-100: 100ms;
  --animation-delay-200: 200ms;
  --animation-delay-300: 300ms;
  --animation-delay-400: 400ms;
  --animation-delay-500: 500ms;
  --animation-delay-600: 600ms;
  --animation-delay-700: 700ms;
  --animation-delay-800: 800ms;
  --animation-delay-900: 900ms;
  --animation-delay-1000: 1000ms;

  @keyframes wavey {
    0%,
    100% {
      transform: scaleY(0.5);
    }
    50% {
      transform: scaleY(1.5);
    }
  }
}

@utility animation-delay-* {
  animation-delay: --value(--animation-delay- *);
  animation-delay: --value([ *]);
}

@layer base {
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply text-2xl font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .menu-item {
    @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-pink-200 hover:text-zinc-200 hover:bg-white/10 transition-colors ease-in-out;
  }
  .bg-hero-main {
    @apply bg-[url('/src/assets/images/hero.jpg')] bg-cover bg-center bg-fixed;
  }
  .bg-hero-band1 {
    @apply bg-[url('/src/assets/images/band1.jpg')] bg-cover bg-center;
  }
  .bg-hero-band2 {
    @apply bg-[url('/src/assets/images/band2.jpg')] bg-cover bg-center;
  }
  .bg-hero-band3 {
    @apply bg-[url('/src/assets/images/band3.jpg')] bg-cover bg-center;
  }
  .bg-hero-band4 {
    @apply bg-[url('/src/assets/images/band4.jpg')] bg-cover bg-center;
  }
  .bg-hero-band5 {
    @apply bg-[url('/src/assets/images/band5.jpg')] bg-cover bg-center;
  }
  .bg-hero-band6 {
    @apply bg-[url('/src/assets/images/band6.jpg')] bg-cover bg-center;
  }
  .bg-hero-band7 {
    @apply bg-[url('/src/assets/images/band7.jpg')] bg-cover bg-center;
  }
}

@layer utilities {
  .scrollbar-thin {
    &::-webkit-scrollbar {
      width: 8px;
      height: 12px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(156, 163, 175, 0.5);
      border-radius: 20px;
      border: 3px solid transparent;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(156, 163, 175, 0.7);
    }
  }
}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    @slot;
  }
}

@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    @slot;
  }
}
